{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
<title>Pete's Awesome Website</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/background.js"></script>
	<script src="{{ STATIC_URL }}js/menu.js"></script>
	<script>
		$(document).ready(function() {
			$("#nav").on("mouseenter", "a", function() {
				$(".active").removeClass("active");
				$(this).removeClass("inactive");
				$(this).addClass("active");
			});
			$("#nav").on("mouseleave", "a", function() {
				$(".active").removeClass("inactive");
				$(this).removeClass("active");
				$(this).addClass("inactive");
			});
		})
	</script>
{% render_block "css" %}
</head>
  <body>
      {% cms_toolbar %}
      {% block base_content %}{% endblock %}
      {% render_block "js" %}
  </body>
</html>



